* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/3945655/pexels-photo-3945655.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  max-width: 500px;
  background-color: aqua;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  color: rgb(243, 103, 103);
}

.form-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.flex-column {
  flex-direction: column;
}

.form-group input {
  height: 30px;
  padding: 0 8px;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}

button {
  height: 35px;
  border: none;
  outline: none;
  color: white;
  background-color: pink;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: inherit;
}

button:hover {
  background-color: rgb(240, 142, 158);
}

.card-notif {
  height: 60px;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  border-right: 5px solid greenyellow;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
